.ReliabilitySolutions-section {
    background-color: #FAFAFA;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBx-relSl {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 10px;
}

.cnt-txt {
    width: 40%;

}

.mr {
    margin-top: 10px;
}

.txt {
    margin: 20px 0;

}

.reSlu-bt {
    border-radius: 6px;
    background-color: #002F87;
    color: #fff;
    font-weight: bold;
    height: 40px;
    padding: 0 10px;
    border: none;
    margin-top: 20px;
    transition: ease 0.3s;
}

.reSlu-bt:hover {
    border: 2px solid #002F87;
    color: #002F87;
    background-color: #fff;
}

@media screen and (max-width: 668px) {
    .innerBx-relSl {
        flex-direction: column;
        justify-content: center;
    }

    .cnt-txt {
        width: 100%;
    }
}

.card-gr {
    display: grid;
    grid-template-columns: 135px 135px 135px;
    row-gap: 10px;
    column-gap: 10px;
}

.gr-card{
    height: 125px;
    border: 1px solid #002F87;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gr-c-im{
    position: relative;
    top: -20px;
}
.gr-c-imf{
    position: relative;
    top: -18px;
}
.txt-crd{
    height: 50px;
    width: 135px;
    position: absolute;
    margin-top: 75px;
    background-color: #002F87;
    transition: ease 0.2s;

    opacity: 0.7;
}
.gr-card:hover .txt-crd{
    height: 125px;
    transition: ease 0.2s;
    margin-top: 0px;
}
.txt-crd-inr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.white-txt{
    color: #fff;
    font-size: 12px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 14px;
}
.prm-txt{
    color: #002F87;
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
    line-height: 20px;
    display: flex;
    text-align: center;
}
.mr-sl:hover .prm-txt{
    font-weight: bold;
}
.link-crd{
    text-decoration: none;
}
@media screen and (max-width: 838px) {
    .innerBx-relSl{
        flex-direction: column;
        margin: 0 20px;
    }
    .cnt-txt {
        width: 100%;
    
    }
}
@media screen and (max-width: 480px) {
    .innerBx-relSl{
        flex-direction: column;
        margin: 0 20px;
    }
    .cnt-txt {
        width: 100%;
    
    }
    .card-gr {
        display: grid;
        grid-template-columns: 135px 135px;
        row-gap: 10px;
        column-gap: 10px;
    }
}

@media screen and (max-width: 350px) {
    .card-gr {
        display: grid;
        grid-template-columns: 135px 135px;
        row-gap: 5px;
        column-gap: 5px;
    }
}